/Proyecto/MaestroDeColores/nbproject/private/
/Proyecto/MaestroDeColores/build/
/Proyecto/MaestroDeColoresAux/build/
/Proyecto/MaestroDeColoresAux/nbproject/private/
/Proyecto/MaestroDeColoresAuxSergio/nbproject/private/
/Proyecto/MaestroDeColoresAuxSergio/build/
